<div id="app">
  <nav class="navbar navbar-light bg-light p-3">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
      <a class="navbar-brand" href="/features/home">
        Simplify VMS
      </a>
    </div>
    <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
      <div class="dropdown" *ngIf="isLoggedIn">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-expanded="false">
          You have logged in as {{ username }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a href class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>

      <div class="dropdown" *ngIf="!isLoggedIn">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-expanded="false">
          Please click here to login or register.
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" [routerLink]="['features/register']">Register</a></li>
          <li><a class="dropdown-item" [routerLink]="['features/login']">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>