<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <h1 class="h4" *ngIf="showUserBoard">New Job Requisition</h1>
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
          
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search by title"
              [(ngModel)]="title"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="searchTitle()"
              >
                Search
              </button>
            </div>
          </div>
          <div class="card">
            <h5 class="card-header">Job Requisitions</h5> 
            <div class="card-body">
              <div class="table-responsive">
                <ul class="list-group">
                  <li class="list-group-item"><b>Job Title</b></li>
                  <li
                    class="list-group-item"
                    *ngFor="let jobreq of jobreqs; let i = index"
                    [class.active]="i == currentIndex"
                    (click)="setActiveJobreq(jobreq, i)"
                  >
                    {{ jobreq.title }}
                  </li>
                </ul>
                <button class="m-3 btn btn-sm btn-danger" (click)="removeAllJobreqs()">
                  Remove All
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>