<div>
    <div><a href="/features/home" class="btn btn-sm btn-primary">Back</a></div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="jobreq.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="jobreq.description"
            name="description"
          />
        </div>
        <div class="form-group">
            <label for="budget">Budget</label>
            <input
              class="form-control"
              id="budget"
              required
              [(ngModel)]="jobreq.budget"
              name="budget"
            />
          </div>
        <button (click)="saveJobreq()" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>